


html{

	background: rgb(253,254,252);
	background: linear-gradient(180deg, rgba(253,254,252,1) 0%, rgba(255,255,255,1) 95%, rgba(0,0,0,1) 99%);
}

body { 
	font-family: 'Roboto Mono', monospace;

  /* background:black; */
}

h1 {
	color: black;
	position: absolute;
	font-size: x-large;
	  top: 8px;
	  left: 16px;

}

.head{
color: black;
font-size: 0.3em;
position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;

}
.ecole{
	color: black;
	font-size: 0.3em;
	position: absolute;
	  bottom: 8px;
	  left: 16px;
	  font-size: 18px;
	
	}


.marquee {

	font-size: 5em;
	color:black;
	-webkit-text-stroke: 0.6px;
-webkit-text-stroke-color:black;
margin-top: -100px;
	margin: 10 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;

	
  }
  .marquee span {
	display: inline-block;
	padding-left: 100vw;
	animation: marquee 7	§00s linear infinite;
  }
  
  
@keyframes marquee {
0% {
	transform: translate(0, 0);
}
100% {
	transform: translate(-100%, 0);
}}




