


html{
	background: rgb(253,254,252);
}

body { 
	
	font-family: 'Roboto Mono', monospace;

  /* background:black; */
}

h1 {
	color: black;
	position: absolute;
	font-size: x-large;
	  top: 8px;
	  left: 16px;

}

.head{
color: black;
font-size: 0.3em;
position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;

}
.ecole{
	color: black;
	font-size: 0.3em;
	position: absolute;
	  bottom: 8px;
	  left: 16px;
	  font-size: 18px;
	
	}


.marquee {

	font-size: 5em;
	color:black;
	-webkit-text-stroke: 0.6px;
-webkit-text-stroke-color:black;
margin-top: -100px;
	margin: 10 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;

	
  }
  .marquee span {
	display: inline-block;
	padding-left: 100vw;
	animation: marquee 7	§00s linear infinite;
  }
  
  
@keyframes marquee {
0% {
	transform: translate(0, 0);
}
100% {
	transform: translate(-100%, 0);
}}

#sketch-container {
	position: fixed;
	bottom: 0;
	left: 0;
	background: black;
    mix-blend-mode: difference;

	/* taille du screen en bas */
	width: 300px;
	height: 300px;
}

#sketch-holder {
	position: relative;
	overflow: hidden;
	width: 260px;
	height: 260px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#sketch-holder canvas {
	position:absolute;
	top:-240px;
	left:-320px;
}

.text-container {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
}

.background {
	background: repeating-linear-gradient(180deg, rgba(253,254,252,1) 0px, rgba(255,255,255,1) 9px, rgba(0,0,0,1) 10px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}